@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo-gray: #e4ebf3;
  --color-stroke-8: color-mix(in srgb, #1f1f27 8%, transparent);

  --height-footer: 78px;

  --font-sans: var(--font-inter);
  --font-size-h1: 32px;
  --line-height-h1: 1.2;
  --font-weight-medium: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    font-family: var(--font-inter);
  }

  h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: var(--font-weight-medium);
  }
}
